<!DOCTYPE html>

<!--[if IE 6]><html lang="en" class="ie-6"><![endif]-->
<!--[if IE 7]><html lang="en" class="ie-7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie-8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie-9"><![endif]-->

<html lang="en" ng-app="myApp">
    <head>

        <title>Enter Title | UHG</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <![endif]-->    
                          
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/global.css" />
		<link rel="stylesheet" type="text/css" href="css/grid.css" />
		<link rel="stylesheet" type="text/css" href="css/utility.css" />
		<link rel="stylesheet" type="text/css" href="css/type.css" />       
		<link rel="stylesheet" type="text/css" href="css/forms.css" />       
		<link rel="stylesheet" type="text/css" href="css/buttons.css" />
		<link rel="stylesheet" type="text/css" href="css/webfont.css" />
		<link rel="stylesheet" type="text/css" href="css/nav-and-tabs.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />		
		
		<!--[if IE 6]>
				<link rel="stylesheet" type="text/css" href="css/ie6.css" />
		<![endif]-->
		
		<!--[if IE 7]>
				<link rel="stylesheet" type="text/css" href="css/ie7.css" />
		<![endif]-->
			
			<script type="text/javascript" src="js/lib/angular.min.js"></script>
			<script type="text/javascript" src="js/angular-route.js"></script>
			<script type="text/javascript" src="js/app.js"></script>
			<script type="text/javascript" src="js/contact_controller.js"></script>
			
			
	

	    
	</head>
	
	<body>

	<div ng-view>
	
	</div>
	    
		
	
		


	    

	<!-- filter 
	<input type="text" ng-model="search.contacts">
	<img src="images/{{user.username}}_tn.jpg">
	<div class="cons" ng-repeat="user in userinfo | filter:{contacts:search.contacts}>
	 -->

			
			<!--[if lte IE 8]>
					<script type="text/javascript" src="js/lib/respond.js"></script>
			<![endif]-->

			<!--[if lt IE 9]>
					<script type="text/javascript" src="js/lib/html5.js"></script>
			<![endif]-->

	</body>
</html>